<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest używany w procesie publikowania/tworzenia pakietu projektu sieci Web. Działanie tego procesu można dostosować,
edytując ten plik MSBuild. Aby dowiedzieć się więcej na ten temat, odwiedź adres http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvcprojektgunshop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvcprojektgunshop.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MVCprojektGunShop</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MVCprojektGunShop</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mvcprojektgunshopdbserver.database.windows.net,1433;Initial Catalog=MVCprojektGunShop_db;User ID=demboch@mvcprojektgunshopdbserver;Password=Rightwrong92" Name="Data Source=tcp:mvcprojektgunshopdbserver.database.windows.net,1433;Initial Catalog=MVCprojektGunShop_db;User Id=demboch@mvcprojektgunshopdbserver;Password=Rightwrong92" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVCprojekt.Models.ApplicationDbContext, MVCprojekt" MigrationConfiguration="MVCprojekt.Migrations.Configuration, MVCprojekt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvcprojektgunshopdbserver.database.windows.net,1433;Initial Catalog=MVCprojektGunShop_db;User Id=demboch@mvcprojektgunshopdbserver;Password=Rightwrong92</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>